<div class="flex items-center justify-between">
  <h1>Articles</h1>
  <%= link_to new_article_path, class: 'btn' do %>
    <%= heroicon "plus" %>
    New article
  <% end %>
</div>

<%= search_form_for @q, data: { turbo_frame: "search" } do |f| %>
  <div class="relative">
    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
      <%= heroicon "magnifying-glass" %>
    </div>
    <%= f.text_field :title_or_body_cont, class: "search-input p-3 pl-10 text-sm", onkeyup: "search()", placeholder: "Search ..." %>
  </div>
<% end %>

<%= turbo_frame_tag "search", target: "_top" do %>
  <div class="mt-8 grid sm:grid-cols-2 gap-8">
    <% @articles.each do |article| %>
      <article class="card">
        <h3 class="card-title">
          <%= link_to article.title, article %>
        </h3>
        <p class="card-subtitle">
          <%= author_and_date(article) %>
        </p>
        <div class="card-body">
          <%= truncate article.body, length: 160 %>
        </div>
        <div class="card-actions">
          <%= link_to 'Read more', article, class: 'btn btn-outline' %>
        </div>
      </article>
    <% end %>
  </div>

  <div class="text-center mt-10">
    <%== pagy_nav(@pagy) %>
  </div>
<% end %>
