<h1>About us</h1>

<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>

<h2>Mission</h2>

<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>

<h2>Values</h2>

<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>

<h2>Team</h2>

<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
